* { box-sizing: border-box; }

body {
  margin: 0;
}
.app-header {
  width: 100%;
}
.app-header .title {
  display:inline-block;  
}
.app-header .actions {
  float:right;
}
*:focus {
    outline:none;
}
button {
  padding: 10px 14px;
  background: white;
  border-radius: 30px;
  border: 2px solid #28aadc;
  color: #28aadc;
}
button:hover {
  border-color: #346392;
  color: #346392;
}

.searchBar {
  position: relative;
  margin: 0 auto 20px auto;
  display: block;
  width: 60%;
}

.search {
  border-radius: 50px;
  padding: 10px 15px;
  border: 2px solid #28aadc;
  width: 100%;
}

.searchBar .fa-search {
  position: absolute;
  right: 12px;
  top: 12px;
}

/* Custom CSS for the Rating Widget */
.rating {
  margin: 5px;
  padding: 10px;
  background: rgba(255,255,255, 0.9);
  position: absolute;
  top: 0;
  right: 0;
}
.black {
  color: black;
}
.gold {
  color: #ffc733;
}

/* General CSS for Forms */
.form-row label {
  display:block;
  width: 100%;
  text-align: left;
}
.form-row input[type=text] {
   color:#777;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-row input[type=text]:focus {
  outline:none;
  border:1px solid #346392;
}

/* Custom CSS for the react-taginput widget */
.react-tagsinput {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    margin: 8px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.react-tagsinput--focused {
  border-color: #346392;
}
.react-tagsinput span {
    float:left;    
}

.react-tagsinput-tag {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #28aadc;
  color: #28aadc;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}
.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}
.react-tagsinput-tag a::before {
  content: " x";
  color: #28aadc;
}
.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}