* { box-sizing: border-box; }

body {
  margin: 0;
}

/* Style for the app header */
.App-header {
  position: relative;
  margin: 0;
  height: 70px;
  line-height: 70px;
  background-color: #222;
}
.App-header h2 {
  color: white;
  font-size: 32px;
  display: block;
  margin: auto;
}
.App-header button {
  cursor:pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 0;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/* Custom CSS for the Rating Widget */
.rating {
  margin: 5px;
  padding: 10px;
  background: rgba(255,255,255, 0.9);
  position: absolute;
  top: 0;
  right: 0;
}
.black {
  color: black;
}
.gold {
  color: #ffc733;
}

/* General CSS for Forms */
.form-row label {
  display:block;
  width: 100%;
  text-align: left;
}
.form-row input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-row input[type=text]:focus {
  outline:none;
  border:1px solid #4CAF50;
}

/* Custom CSS for the react-taginput widget */
.react-tagsinput {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    margin: 8px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.react-tagsinput span {
    float:left;    
}
.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #4CAF50;
  color: #638421;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}
.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}
.react-tagsinput-tag a::before {
  content: " x";
}
.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}
